@use 'scss/alpha' as *;
@use 'scss/breakpoint' as *;

// for specificity
.header.container {
  --container-max-width: 1920px;
  --container-padding-y: 16px;

  position: sticky;
  z-index: var(--z-header);
  top: 0;
  left: 0;
  display: grid;
  grid-template-areas: 'logo . navigation';
  grid-template-columns: minmax(0, auto) minmax(0, 1fr) minmax(0, auto);
  gap: 32px;
  align-items: center;
  width: 100%;

  @include breakpoint(portrait) {
    &.header--scrolled {
      &::after {
        opacity: 1;
      }
    }
  }

  @include breakpoint(until-landscape) {
    --container-padding-y: 16px;

    grid-template-areas: 'logo . hamburger';
    padding-inline: 0;
  }

  @include breakpoint(until-portrait) {
    body:not(.mobile-disable-header-scrolled) &.header--scrolled {
      &::after {
        opacity: 1;
      }
    }
  }

  &::after,
  &::before {
    pointer-events: none;
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: var(--background-color);
  }

  &::after {
    opacity: 0;
    filter: drop-shadow(0 4px 24px rgb(0 0 0 / 8%));
    transition: all var(--animation-simple-fade);
  }

  &.header--menu-open {
    pointer-events: all;

    &::after {
      opacity: 1;
    }
  }

  .button-hamburger {
    @include breakpoint(landscape) {
      display: none;
    }
  }
}

.header__logo-link {
  display: flex;
  grid-area: logo;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;

  @include breakpoint(until-landscape) {
    padding-inline: var(--container-padding-x);
  }

  &.link {
    text-decoration: none;
  }

  .logo {
    height: 40px;
  }
}
