@use 'scss/breakpoint' as *;

.blog-list {
  --container-padding-y: var(--sp-12);

  display: flex;
  flex-direction: column;
  gap: var(--container-padding-y);

  @include breakpoint(until-tablet) {
    --container-padding-y: var(--sp-8);
  }
}

.blog-list__featured {
  display: flex;
  flex-direction: column;
  gap: var(--container-padding-y);
  align-items: center;

  .ornament-text {
    width: calc(var(--spacing) * 38);
    color: var(--color-text-light);
  }

  .blog-teaser {
    width: 100%;
  }
}

.blog-list__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--container-padding-y);

  @include breakpoint(until-desktop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(until-tablet) {
    grid-template-columns: 1fr;
  }
}

.blog-list__empty {
  padding: var(--sp-20) 0;
  font-size: var(--font-size-body-large);
  color: var(--color-grey-700);
  text-align: center;
}
