@use 'scss/breakpoint' as *;

.blog-list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 22);
}

.blog-list__featured {
  display: flex;
  flex-direction: column;
  align-items: center;

  .blog-teaser {
    width: 100%;
  }
}

.blog-list__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--sp-6);

  @include breakpoint(until-desktop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(until-tablet) {
    grid-template-columns: 1fr;
  }
}

.blog-list__empty {
  padding: var(--sp-20) 0;
  font-size: var(--font-size-body-large);
  color: var(--color-container);
  text-align: center;
}
