:root {
  // Brand colors
  --color-brand-primary: #1100fe;
  --color-brand-secondary: #00cbfe;
  --color-brand-tertiary: #c7f3fe;

  // Scheme colors
  --color-primary: #fff;
  --color-secondary: #1a1a1a;
  --color-neutral: #f3f5f6;
  --color-surface: #f0f4ff;
  --color-medium: #cee0fd;
  --color-light: var(--color-brand-secondary);
  --color-xlight: var(--color-brand-tertiary);
  --color-container: #515151;

  // UI colors
  --color-text: var(--color-secondary);
  --color-text-secondary: #314cad;
  --color-text-tertiary: var(--color-container);
  --color-text-light: var(--color-primary);
  --color-success: var(--color-brand-primary);
  --color-warning: var(--color-brand-secondary);
  --color-error: #c63c3c;

  // Element colors
  --color-background: var(--color-primary);
  --color-border: var(--color-text);
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}
