:root {
  // Grey colors
  --color-grey-50: #f4f5f5;
  --color-grey-100: #eaebec;
  --color-grey-200: #e1e2e4;
  --color-grey-300: #d2d4d6;
  --color-grey-400: #c4c7ca;
  --color-grey-500: #a1a7aa;
  --color-grey-600: #7c8388;
  --color-grey-700: #53575b;
  --color-grey-800: #43474a;
  --color-grey-900: #3a3e40;
  --color-grey-950: #181a1b;

  // UI colors
  --color-black: var(--color-grey-950);
  --color-white: #fff;
  --color-success: var(--color-grey-500);
  --color-warning: var(--color-grey-800);
  --color-error: #c63c3c;
  --background-color: var(--color-white);
  --text-color: var(--color-black);
  --border-color: var(--text-color);
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}
