/* stylelint-disable selector-class-pattern */

:root.theme--light {
  --toastify-toast-background: var(--color-primary);
  --toastify-toast-bd-radius: 0;
  --toastify-font-family: var(--font-outfit);
  --toastify-text-color-light: var(--color-secondary);
  --toastify-toast-padding: 14px;
  --toastify-color-progress-light: var(--color-aqua-600);
  --toastify-color-info: var(--color-aqua-950);
  --toastify-color-success: var(--color-success);
  --toastify-color-warning: var(--color-warning);
  --toastify-color-error: var(--color-error);
}
