.link {
  --link-color: var(--text-color);
  --link-color-hover: var(--color-grey-600);

  color: var(--link-color);
  transition: var(--animation-colors-fade);

  &:hover {
    color: var(--link-color-hover);
  }
}

.link--disabled {
  pointer-events: none;
  cursor: default;
}
