.link {
  --link-color: var(--color-text);
  --link-color-hover: var(--color-brand-primary);

  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
  }
}

.link--disabled {
  pointer-events: none;
  cursor: default;
}
