.sanity-body {
  --sanity-body-gap: var(--sp-5);

  display: flex;
  flex-direction: column;
  gap: var(--sanity-body-gap);
  align-items: flex-start;
  width: 100%;

  h2 {
    color: var(--color-text-light);
  }

  h3 {
    color: var(--color-text-light);
  }

  h4 {
    color: var(--color-text-light);
  }

  strong {
    font-weight: var(--font-weight-medium);
  }

  em {
    font-style: italic;
  }

  > :not(.sanity-code) code {
    padding: 0.1em;
    border: 1px solid var(--color-text-light);
    border-radius: 0.1em;
    color: var(--color-brand-secondary);
  }

  ul,
  ol {
    display: flex;
    flex-direction: column;
    gap: calc(var(--sanity-body-gap) / 2);
    align-items: flex-start;
    margin-bottom: calc(var(--sanity-body-gap) * 1.2);

    > li {
      position: relative;
      margin-left: 0;
      padding-left: 2em;

      &::before {
        position: absolute;
        top: 0;
        left: 0.25em;
        color: var(--color-text-light);
      }
    }
  }

  ul {
    > li {
      &::before {
        content: '•';
      }
    }
  }

  ol {
    > li {
      &::before {
        content: counter(list-counter) '.';
      }
    }
  }

  li {
    > ul,
    > ol {
      margin-top: calc(var(--sanity-body-gap) / 2);
      margin-bottom: 0;
    }
  }

  figure {
    position: relative;
    align-self: center;
    width: 100%;
    max-width: min(calc(var(--spacing) * 175), 95%);

    img {
      width: 100%;
      border-radius: var(--theme-border-radius);
    }

    figcaption {
      margin-top: calc(var(--sanity-body-gap) / 2.5);
      font-size: var(--font-size-label);
      color: var(--color-text-light);
      text-align: center;
    }
  }

  blockquote {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-left: 2.5em;
    border-left: 0.1em solid var(--color-text-light);

    .icon-quote {
      position: absolute;
      z-index: 0;
      left: 0;
      width: 2em;
      height: 2em;
      color: var(--color-grey-400);
    }

    p {
      position: relative;
    }

    cite {
      font-size: 0.9em;
      font-weight: var(--font-weight-medium);
      color: var(--color-text-light);
    }
  }
}
