@use 'scss/alpha' as *;
@use 'scss/breakpoint' as *;

.footer-navigation {
  display: flex;
  grid-area: navigation;
  gap: var(--sp-12);
  justify-content: flex-start;
  padding-left: var(--sp-14);
  border-left: 1px solid alpha(var(--color-text-secondary), 0.2);

  @include breakpoint(until-desktop) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include breakpoint(until-portrait) {
    padding-left: 0;
    border-left: none;
  }

  @include breakpoint(until-mobile) {
    gap: var(--sp-8);
    justify-content: flex-start;
  }

  menu {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;

    li {
      list-style: none;
    }
  }
}

.footer-navigation__block {
  display: flex;
  flex-direction: column;
  gap: var(--sp-2);
  min-width: calc(var(--spacing) * 38);

  menu {
    display: flex;
    flex-direction: column;
    gap: var(--sp-2);
  }
}

.footer-navigation__block-label {
  display: none;
}

.footer-navigation__link {
  &.link {
    color: var(--color-text-secondary);

    &:hover {
      color: var(--link-color-hover);
    }
  }
}
