@use 'scss/breakpoint' as *;

%blog-page-container-width {
  width: 100%;
  max-width: calc(var(--spacing) * 225);
  margin-inline: auto;
}

.blog-page {
  --container-padding-y: 0;

  display: flex;
  flex-direction: column;
  gap: var(--sp-8);

  .page-title {
    @extend %blog-page-container-width;
  }
}

.blog-page__header {
  display: flex;
  flex-direction: column;
  gap: var(--sp-4);
}

.blog-page__meta {
  @extend %blog-page-container-width;

  display: flex;
  flex-wrap: wrap;
  gap: var(--sp-2);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-label);
  color: var(--color-text-light);
  text-align: center;

  @include breakpoint(tablet) {
    font-size: var(--font-size-body);
  }
}

.blog-page__abstract {
  max-width: calc(var(--spacing) * 225);
  margin-block: var(--sp-4);
  margin-inline: auto;
  font-size: var(--font-size-body-large);
  text-align: center;

  @include breakpoint(tablet) {
    font-size: var(--font-size-h4);
  }
}

.blog-page__author {
  font-weight: var(--font-weight-medium);
}

.blog-page__separator {
  opacity: 0.5;
}

.blog-page__date--updated {
  font-style: italic;
}

.blog-page__cover {
  position: relative;
  aspect-ratio: 21/9;
  width: 100%;
  max-height: 450px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.blog-page__body {
  @extend %blog-page-container-width;

  display: flex;
  flex-direction: column;
  gap: 85px;
}

.blog-page__navigation {
  @extend %blog-page-container-width;

  display: grid;
  grid-template-areas: 'previous next';
  gap: 30px;

  @include breakpoint(until-mobile) {
    grid-template-areas: 'previous' 'next';
  }

  .icon-chevron {
    width: 12px;
  }
}

.blog-page__previous {
  grid-area: previous;
  justify-self: start;

  @include breakpoint(until-mobile) {
    justify-self: center;
  }

  svg {
    transform: rotate(90deg);
  }
}

.blog-page__next {
  grid-area: next;
  justify-self: end;

  @include breakpoint(until-mobile) {
    justify-self: center;
  }

  svg {
    transform: rotate(-90deg);
  }
}
