@use 'scss/breakpoint' as *;

%blog-page-container-width {
  width: 100%;
  max-width: calc(var(--spacing) * 190);
  margin-inline: auto;
}

.blog-page {
  --container-padding-y: 0;

  display: flex;
  flex-direction: column;
  gap: var(--sp-8);

  .page-title {
    @extend %blog-page-container-width;
  }
}

.blog-page__header {
  display: flex;
  flex-direction: column;
  gap: var(--sp-4);
  max-width: calc(var(--spacing) * 245);
  margin-inline: auto;
  color: var(--color-text-secondary);
}

.blog-page__back {
  display: flex;
  gap: var(--sp-2);
  align-items: center;
  font-size: var(--font-size-body-small);
  color: var(--color-text-tertiary);

  .icon-arrow {
    --icon-size: var(--sp-6);

    transform: scaleX(-1);
  }
}

.blog-page__meta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp-2);
  align-items: start;
  justify-content: start;
  font-size: var(--font-size-body-small);
  color: var(--color-text-tertiary);
}

.blog-page__abstract {
  max-width: calc(var(--spacing) * 245);
  font-size: var(--font-size-body-large);

  @include breakpoint(tablet) {
    font-size: var(--font-size-h5);
  }
}

.blog-page__separator {
  opacity: 0.5;
}

.blog-page__date--updated {
  font-style: italic;
}

.blog-page__cover {
  position: relative;
  aspect-ratio: 1224/688;
  width: 100%;
  max-height: calc(var(--spacing) * 172);

  img {
    width: 100%;
    height: 100%;
    border-radius: var(--theme-border-radius);
    object-fit: cover;
  }
}

.blog-page__body {
  @extend %blog-page-container-width;

  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 22);
  padding-block-start: var(--sp-16);
}

.blog-page__navigation {
  @extend %blog-page-container-width;

  display: grid;
  grid-template-areas: 'previous next';
  gap: var(--sp-8);

  @include breakpoint(until-mobile) {
    grid-template-areas: 'previous' 'next';
  }

  .icon-chevron {
    --icon-size: var(--sp-3);
  }
}

.blog-page__previous {
  grid-area: previous;
  justify-self: start;

  @include breakpoint(until-mobile) {
    justify-self: center;
  }

  svg {
    transform: rotate(90deg);
  }
}

.blog-page__next {
  grid-area: next;
  justify-self: end;

  @include breakpoint(until-mobile) {
    justify-self: center;
  }

  svg {
    transform: rotate(-90deg);
  }
}
