.form-label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: stretch;
  width: 100%;
  text-align: left;
}

.form-label__label {
  .form-label--errored & {
    color: var(--color-error);
  }
}
