.form-phone__container {
  display: flex;
  align-items: stretch;
  border: 1px solid var(--color-brand-tertiary);
  background: var(--color-primary);

  .form-phone--errored & {
    border-color: var(--color-error);
  }

  .form-input__input {
    width: 100%;
    border: 0;
  }
}

.form-phone__country-selector {
  &.combobox__trigger {
    flex-shrink: 0;
    padding: 8px 12px;
    border: none;
    font-size: var(--font-size-label);
    line-height: var(--line-height-small);
    transition: background-color var(--animation-simple-fade);

    &:hover {
      background: var(--color-neutral);
    }
  }

  // Style the flag images in the dropdown
  .combobox__item-icon {
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
