@use 'scss/breakpoint' as *;

.dc-positions-page__list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-16);
}

.dc-positions-page__position {
  display: grid;
  grid-template-areas: 'card description';
  grid-template-columns: minmax(calc(var(--spacing) * 75), 1fr) minmax(0, 2fr);
  gap: var(--sp-8);
  width: 100%;

  @include breakpoint(until-landscape) {
    grid-template-columns: minmax(calc(var(--spacing) * 60), 1fr) minmax(0, 2fr);
  }

  @include breakpoint(until-portrait) {
    grid-template-areas: 'card' 'description';
    grid-template-columns: minmax(0, 1fr);
  }

  &.box {
    padding: var(--sp-10);
    background-color: var(--color-surface);
  }
}

.dc-positions-page__position-card {
  display: flex;
  grid-area: card;
  flex-direction: column;
  align-items: center;
  align-self: start;
  justify-content: center;
}

.dc-positions-page__position-image {
  position: relative;
  aspect-ratio: 1 / 1;
  width: var(--sp-32);
  height: var(--sp-32);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid var(--color-medium);
    object-fit: cover;

    @include breakpoint(until-portrait) {
      aspect-ratio: 4 / 3;
    }
  }
}

.dc-positions-page__position-image-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-text-secondary);

  .icon {
    --icon-size: 100%;
  }
}

.dc-positions-page__position-header {
  display: flex;
  flex-direction: column;
  gap: var(--sp-2);
}

.dc-positions-page__position-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  color: var(--color-text-secondary);
  text-align: center;
}

.dc-positions-page__position-description {
  grid-area: description;
  align-self: stretch;
  justify-content: center;
  padding-inline-start: var(--sp-10);
  border-inline-start: 1px solid var(--color-medium);
  color: var(--color-text-secondary);

  @include breakpoint(until-portrait) {
    padding-inline-start: 0;
    border-inline-start: none;
  }
}
