@use 'scss/breakpoint' as *;

.dc-positions-page__list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-16);
}

.dc-positions-page__position {
  display: grid;
  grid-template-areas: 'card description';
  grid-template-columns: minmax(calc(var(--spacing) * 75), 1fr) minmax(0, 2fr);
  gap: var(--sp-8);
  width: 100%;

  @include breakpoint(until-landscape) {
    grid-template-columns: minmax(calc(var(--spacing) * 75), 1fr) minmax(0, 1fr);
  }

  @include breakpoint(until-portrait) {
    grid-template-areas: 'card' 'description';
    grid-template-columns: minmax(0, 1fr);
  }

  &:nth-child(even) {
    grid-template-areas: 'description card';
    grid-template-columns: minmax(0, 2fr) minmax(calc(var(--spacing) * 75), 1fr);

    @include breakpoint(until-landscape) {
      grid-template-columns: minmax(0, 1fr) minmax(calc(var(--spacing) * 75), 1fr);
    }

    @include breakpoint(until-portrait) {
      grid-template-areas: 'description' 'card';
      grid-template-columns: minmax(0, 1fr);
    }
  }
}

.dc-positions-page__position-card {
  display: flex;
  grid-area: card;
  flex-direction: column;
  gap: var(--sp-4);
  align-items: center;
  align-self: start;
  justify-content: center;
  padding: var(--sp-10);
  border-radius: var(--sp-10);
  background-color: var(--color-grey-100);
}

.dc-positions-page__position-image {
  position: relative;
  aspect-ratio: 1 / 1;
  width: var(--sp-36);
  height: var(--sp-36);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-border);
    object-fit: cover;

    @include breakpoint(until-portrait) {
      aspect-ratio: 4 / 3;
    }
  }
}

.dc-positions-page__position-image-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-text-light);
}

.dc-positions-page__position-header {
  display: flex;
  flex-direction: column;
  gap: var(--sp-2);
}

.dc-positions-page__position-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  color: var(--color-text-light);
  text-align: center;
}

.dc-positions-page__position-description {
  grid-area: description;
  align-self: center;
  padding-block: var(--sp-2);
}
