@use 'scss/breakpoint' as *;

.form-otp-slot {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-block: 16px;
  border: 1px solid var(--color-brand-tertiary);
  font-size: var(--font-size-h4);
  text-align: center;
  transition: border-color var(--animation-simple-fade);

  @include breakpoint(until-small) {
    padding-block: 8px;
  }

  &.form-otp-slot--active {
    border-color: var(--color-primary, #007bff);
  }

  &:focus-within {
    outline: 2px solid var(--color-primary, #007bff);
    outline-offset: 2px;
  }
}

.form-otp-slot__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.form-otp-slot__caret {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 1em;
  background-color: var(--color-text, #000);
  animation: caret-blink 1.2s ease-out infinite;
}

@keyframes caret-blink {
  0%,
  70%,
  100% {
    opacity: 1;
  }

  20%,
  50% {
    opacity: 0;
  }
}
