.button {
  --button-padding-x: var(--sp-8);
  --button-padding-y: var(--sp-3);

  display: inline-flex;
  gap: var(--sp-3);
  align-items: center;
  justify-content: center;
  padding: var(--button-padding-y) var(--button-padding-x);
  border: 1px solid var(--button-border-color);
  border-radius: var(--theme-border-radius);
  color: var(--button-color);
  background-color: var(--button-background-color);

  &:hover {
    border-color: var(--button-border-color-hover);
    color: var(--button-color-hover);
    background-color: var(--button-background-color-hover);
  }

  &.link {
    color: var(--button-color);
    text-decoration: none;

    &:hover {
      color: var(--button-color-hover);
    }
  }

  .icon {
    height: var(--sp-6);
    margin: calc(var(--sp-1) * -1) 0;
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.7;
  }
}

.button--link {
  --button-background-color: transparent;
  --button-background-color-hover: transparent;
  --button-border-color: transparent;
  --button-border-color-hover: transparent;
  --button-color: var(--color-secondary);
  --button-color-hover: var(--color-text-secondary);
  --button-padding-x: 0;
  --button-padding-y: 0;

  text-decoration: underline;
}

.button--none {
  --button-background-color: transparent;
  --button-background-color-hover: var(--color-medium);
  --button-border-color: transparent;
  --button-border-color-hover: var(--color-medium);
  --button-color: var(--color-secondary);
  --button-color-hover: var(--color-secondary);
}

.button--primary {
  --button-background-color: var(--color-brand-primary);
  --button-background-color-hover: var(--color-brand-secondary);
  --button-border-color: var(--color-brand-primary);
  --button-border-color-hover: var(--color-brand-secondary);
  --button-color: var(--color-primary);
  --button-color-hover: var(--color-secondary);
}
