@use 'scss/breakpoint' as *;

.blog-teaser {
  display: flex;
  flex-direction: column;
  gap: var(--sp-6);
  color: inherit;
  text-decoration: none;

  &.blog-teaser--featured {
    @include breakpoint(tablet) {
      flex-direction: row;
      gap: var(--container-padding-y);
    }
  }

  &.link {
    transition: all var(--animation-simple-fade);
  }

  &:hover {
    transform: translateY(-4px);
  }
}

.blog-teaser__image {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .blog-teaser--featured & {
    @include breakpoint(tablet) {
      flex: 0 0 calc(50% - (var(--container-padding-y) / 2));
    }

    @include breakpoint(desktop) {
      flex: 0 0 40%;
    }
  }
}

.blog-teaser__content {
  display: flex;
  flex-direction: column;
  gap: var(--sp-3);

  .blog-teaser--featured & {
    @include breakpoint(tablet) {
      flex: 1;
      justify-content: center;
    }
  }
}

.blog-teaser__title {
  margin: 0;

  .blog-teaser--featured & {
    @include breakpoint(tablet) {
      font-size: var(--font-size-h3);
    }
  }

  .blog-teaser:not(:hover) & {
    color: var(--color-text-light);
  }
}

.blog-teaser__abstract {
  margin: 0;
  font-size: var(--font-size-body);
}

.blog-teaser__meta {
  display: flex;
  gap: var(--sp-2);
  align-items: center;
  font-size: var(--font-size-label);

  .blog-teaser:not(:hover) & {
    color: var(--color-text-light);
  }
}

.blog-teaser__author {
  font-weight: var(--font-weight-medium);
}

.blog-teaser__separator {
  opacity: 0.5;
}
