@use 'scss/breakpoint' as *;

.training-events-page {
  @include breakpoint(until-tablet) {
    h1 {
      margin-bottom: var(--sp-6);
    }

    h2 {
      margin-bottom: var(--sp-6);
    }
  }

  h1 {
    margin-bottom: var(--sp-8);
  }

  h2 {
    margin-bottom: var(--sp-8);
  }

  h3 {
    margin-bottom: var(--sp-4);
  }
}

.training-events-page__section {
  padding-top: var(--sp-16);
  padding-bottom: var(--sp-16);

  @include breakpoint(until-tablet) {
    padding-top: var(--sp-12);
    padding-bottom: var(--sp-12);

    &:first-child {
      padding-top: var(--sp-8);
    }
  }

  &:first-child {
    padding-top: var(--sp-12);
  }
}

.training-events-page__events-list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-8);

  @include breakpoint(until-tablet) {
    gap: var(--sp-6);
  }
}

.training-events-page__event {
  padding: var(--sp-6);
  border: 1px solid var(--border-color);

  @include breakpoint(until-tablet) {
    padding: var(--sp-4);
  }
}
