@use 'scss/breakpoint' as *;

.training-events-page {
  background-image: linear-gradient(
    to bottom,
    transparent calc(var(--spacing) * 120),
    var(--color-grey-100) calc(var(--spacing) * 165)
  );
}

.training-events-page__intro {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.training-events-page__section {
  display: flex;
  flex-direction: column;
  gap: var(--sp-6);

  h4 {
    color: var(--color-text-light);
    text-align: center;
  }
}

.training-events-page__events-list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-8);

  @include breakpoint(until-tablet) {
    gap: var(--sp-6);
  }
}

.training-events-page__event {
  display: flex;
  flex-direction: column;
  gap: var(--sp-6);
  padding: var(--sp-12);
  border-radius: var(--sp-10);
  background-color: var(--color-white);

  @include breakpoint(until-tablet) {
    gap: var(--sp-8);
    padding: var(--sp-10);
  }

  h4,
  h6 {
    color: var(--color-text-light);
    text-align: start;
  }

  .sanity-body {
    gap: var(--sp-4);
  }
}
