.page-title {
  display: flex;
  flex-direction: column;
  gap: var(--sp-1);
  align-items: center;
  color: var(--color-text-light);

  .ornament-text {
    width: calc(var(--spacing) * 38);

    &:last-child {
      margin-block-start: var(--sp-2);
    }
  }
}
