@use 'scss/breakpoint' as *;

.work-packages-page {
  background-image: linear-gradient(to bottom, transparent, var(--color-grey-100) calc(var(--spacing) * 45));
}

.work-packages-page__intro {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.work-packages-page__section {
  padding-top: var(--sp-8);
  padding-bottom: var(--sp-16);

  @include breakpoint(until-tablet) {
    padding-top: var(--sp-6);
    padding-bottom: var(--sp-12);
  }
}

.work-packages-page__list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-12);
  padding-block: var(--sp-6);

  @include breakpoint(until-tablet) {
    gap: var(--sp-8);
    padding-block: var(--sp-4);
  }
}

.work-packages-page__item {
  display: flex;
  flex-direction: column;
  gap: var(--sp-6);
  padding: var(--sp-12);
  border-radius: var(--sp-10);
  background-color: var(--color-white);

  @include breakpoint(until-tablet) {
    gap: var(--sp-8);
    padding: var(--sp-10);
  }

  h4,
  h6 {
    color: var(--color-text-light);
    text-align: start;
  }

  .sanity-body {
    gap: var(--sp-4);
  }
}
