@use 'scss/alpha' as *;

.form-checkbox {
  --form-checkbox-check-size: calc(var(--spacing) * 4.5);

  display: flex;
  gap: var(--sp-2);
  align-items: center;
}

.form-checkbox__checkbox {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  box-sizing: border-box;
  width: var(--form-checkbox-check-size);
  height: var(--form-checkbox-check-size);
  border: 1px solid alpha(var(--color-border), 40%);
  transition: all var(--animation-simple-fade);

  // Icon inside the indicator
  svg {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    order: 1;
    width: 100%;
    height: 100%;
    padding: calc(var(--form-checkbox-check-size) / 6);
    color: var(--color-text);
    opacity: 0;
    transition: all var(--animation-simple-fade);
  }

  // Radix state-driven visibility
  [data-state='checked'] svg,
  [data-state='indeterminate'] svg {
    transform: none;
    opacity: 1;
  }

  // Custom dash for indeterminate
  .form-checkbox__dash {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--form-checkbox-check-size) * 0.5);
    height: var(--spacing-unit);
    border-radius: var(--spacing-unit);
    background: var(--color-text);
    transition: all var(--animation-simple-fade);
  }

  // Disabled state
  &[data-disabled] {
    opacity: 0.3;
  }
}

.form-checkbox__label {
  cursor: pointer;
  user-select: none;
  position: relative;
  color: var(--color-text);
  text-align: left;
  transition: all var(--animation-simple-fade);
}
