.close-button {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 12px;
  right: 12px;
  transform-origin: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 0;
  transition: all var(--animation-simple-fade);

  &:hover {
    transform: rotate(90deg);
  }

  svg {
    display: block;
    width: 9px;
    height: 9px;
    color: var(--color-secondary);
  }
}
