@use 'scss/breakpoint' as *;

:root {
  --container-max-width: calc((var(--spacing) * 324)); // 1224px + padding
  --container-padding-x: var(--sp-4);
  --container-padding-y: 0;

  @include breakpoint(mobile) {
    --container-padding-x: var(--sp-8);
  }

  @include breakpoint(desktop) {
    --container-padding-x: var(--sp-9);
  }
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin-right: auto;
  margin-left: auto;
  padding: var(--container-padding-y) var(--container-padding-x);
}
