@use 'scss/breakpoint' as *;

.button-hamburger {
  position: relative;
  display: flex;
  grid-area: hamburger;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  width: calc(20px + (var(--container-padding-x) * 2));
  padding: 0;
  padding-inline: var(--container-padding-x);
  border: 0;
  background: none;
  transition: all 0.25s;

  &:hover {
    cursor: pointer;
  }
}

.button-hamburger__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 1px));
  width: 20px;
  height: 14px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 1.5px;
    background-color: var(--color-text);
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 1.5px;
    background-color: var(--color-text);
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  }

  .button-hamburger--active & {
    transition: all 0.25s;

    &::before {
      top: 50%;
      transform: translateY(-50%) translateX(-10%) rotate(45deg);
      width: 100%;
    }

    &::after {
      bottom: 50%;
      transform: translateY(50%) translateX(-10%) rotate(-45deg);
      width: 100%;
    }

    span {
      opacity: 0;
    }
  }
}
