@use 'scss/alpha' as *;

.popover__content {
  z-index: var(--z-popover);
  width: max-content;
  min-width: 200px;
  max-width: min(640px, 150vw);
  border: 1px solid var(--color-neutral-200);
  background-color: var(--color-primary);
  filter: drop-shadow(0 4px 24px alpha(var(--color-secondary), 8%));

  &[data-state='open'][data-side='top'] {
    animation: slide-down-and-fade 200ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &[data-state='open'][data-side='right'] {
    animation: slide-left-and-fade 200ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &[data-state='open'][data-side='bottom'] {
    animation: slide-up-and-fade 200ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &[data-state='open'][data-side='left'] {
    animation: slide-right-and-fade 200ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &:focus-visible {
    outline: 2px solid var(--color-brand-blue-300);
    outline-offset: 2px;
  }
}

.popover__arrow {
  filter: drop-shadow(0 4px 24px alpha(var(--color-secondary), 8%));
  fill: var(--color-primary);
}

@keyframes slide-down-and-fade {
  from {
    transform: translateY(-8px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up-and-fade {
  from {
    transform: translateY(8px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right-and-fade {
  from {
    transform: translateX(-8px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-left-and-fade {
  from {
    transform: translateX(8px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
