.page-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--sp-6);

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: calc(100% - var(--sp-6) - (var(--font-size-h3) * var(--line-height-small)));
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: calc(var(--main-gap) + var(--sp-6) + (var(--font-size-h3) * var(--line-height-small)));
    background-image: linear-gradient(to bottom, transparent, var(--color-surface));
  }

  & + & {
    &::before {
      background-color: var(--color-surface);
    }
  }

  h4 {
    position: relative;
    color: var(--color-text-secondary);
    text-align: center;
  }
}
