@use 'scss/breakpoint' as *;
@use 'scss/spacing' as *;

.consortium-page__intro {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.consortium-page__beneficiaries-list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-12);

  @include breakpoint(until-tablet) {
    gap: var(--sp-8);
  }
}

.consortium-page__beneficiary {
  display: grid;
  grid-template-columns: calc(var(--spacing) * 50) minmax(0, 1fr);
  column-gap: var(--sp-10);

  @include breakpoint(until-tablet) {
    grid-template-columns: 1fr;
    gap: var(--sp-8);
  }
}

.consortium-page__beneficiary-images {
  display: flex;
  flex-direction: column;
  gap: var(--sp-4);

  @include breakpoint(until-tablet) {
    flex-flow: row wrap;
    justify-content: center;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;

    @include breakpoint(until-tablet) {
      max-width: calc(50% - var(--sp-2));
    }
  }
}

.consortium-page__beneficiary-content {
  display: flex;
  flex: 1;
  flex-direction: column;

  h4,
  h6 {
    /* For specificity */
    .page-section & {
      color: var(--color-text-secondary);
      text-align: start;
    }
  }

  .sanity-body {
    color: var(--color-text-tertiary);

    p {
      margin-block-start: var(--sp-3);
    }
  }
}

.consortium-page__partners-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(var(--spacing) * 72), 1fr));
  gap: var(--sp-6);
}

.consortium-page__partner {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 288 / 217;

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
  }
}
