@use 'scss/breakpoint' as *;
@use 'scss/spacing' as *;

.consortium-page {
  background-image: linear-gradient(to bottom, transparent, var(--color-grey-100) calc(var(--spacing) * 45));
}

.consortium-page__section {
  display: flex;
  flex-direction: column;
  gap: var(--sp-6);

  h4 {
    color: var(--color-text-light);
    text-align: center;
  }
}

.consortium-page__beneficiaries-list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-12);
  padding-block: var(--sp-6);

  @include breakpoint(until-tablet) {
    gap: var(--sp-8);
    padding-block: var(--sp-4);
  }
}

.consortium-page__beneficiary {
  display: grid;
  grid-template-columns: calc(var(--spacing) * 50) minmax(0, 1fr);
  column-gap: var(--sp-10);
  padding: var(--sp-12);
  border-radius: var(--sp-10);
  background-color: var(--color-white);

  @include breakpoint(until-tablet) {
    grid-template-columns: 1fr;
    gap: var(--sp-8);
    padding: var(--sp-4);
  }

  h4,
  h6 {
    color: var(--color-text-light);
    text-align: start;
  }
}

.consortium-page__beneficiary-images {
  display: flex;
  flex-direction: column;
  gap: var(--sp-4);

  @include breakpoint(until-tablet) {
    flex-flow: row wrap;

    img {
      max-width: calc(50% - var(--sp-2));
    }
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.consortium-page__beneficiary-content {
  display: flex;
  flex: 1;
  flex-direction: column;

  p {
    margin-block-start: var(--sp-3);
  }
}

.consortium-page__partners-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(var(--spacing) * 72), 1fr));
  gap: var(--sp-6);
  padding-block: var(--sp-6);
}

.consortium-page__partner {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 288 / 217;
  padding: var(--sp-12);
  border-radius: var(--sp-10);
  background-color: var(--color-white);

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
  }
}
