@use 'scss/breakpoint' as *;

.blog-pagination {
  padding-bottom: var(--sp-12);

  @include breakpoint(until-tablet) {
    padding-bottom: var(--sp-8);
  }

  .pagination-item__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--sp-8);
    height: var(--sp-8);
    font-size: var(--font-size-label);
    font-weight: var(--font-weight-medium);

    svg {
      width: calc(var(--sp-3) + 1px);
    }
  }

  .pagination-item__link--previous {
    svg {
      transform: translateY(1px) rotate(90deg);
      border-right: 1px solid transparent;
    }

    &:hover {
      svg {
        border-color: currentcolor;
      }
    }
  }

  .pagination-item__link--next {
    /* stylelint-disable-next-line no-descending-specificity */
    svg {
      transform: translateY(1px) rotate(-90deg);
      border-left: 1px solid transparent;
    }

    &:hover {
      svg {
        border-color: currentcolor;
      }
    }
  }
}
