@use 'scss/breakpoint' as *;

// for specificity
.footer {
  --container-padding-y: var(--sp-10);

  position: relative;
  border-top: var(--sp-1) solid var(--color-brand-primary);
  background-image: radial-gradient(circle at center, var(--color-surface), var(--color-primary));

  .container {
    position: relative;
    display: grid;
    grid-template-areas: 'brand navigation disclaimer' 'divider divider divider' 'copyright copyright copyright';
    grid-template-columns: minmax(0, auto) minmax(0, 1fr) minmax(0, 1fr);
    gap: var(--sp-10) var(--sp-14);
    justify-items: start;

    @include breakpoint(until-portrait) {
      grid-template-areas: 'brand' 'navigation' 'disclaimer' 'divider' 'copyright';
      grid-template-columns: minmax(0, 1fr);
    }
  }

  .ornament-text {
    grid-area: divider;
    justify-self: center;
    width: calc(var(--spacing) * 38);
    color: var(--color-text-secondary);
  }
}

.footer__copyright {
  display: flex;
  grid-area: copyright;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  font-size: var(--font-size-label);
  color: var(--color-text-secondary);

  @include breakpoint(until-mobile) {
    align-items: flex-start;
  }
}

.footer__link-home {
  display: inline-flex;
  gap: var(--sp-3);
  align-items: baseline;

  &.link {
    text-decoration: none;
  }

  .logo {
    height: var(--sp-7);
  }
}

.footer__brand {
  display: flex;
  grid-area: brand;
  flex-direction: column;
  gap: var(--sp-6);
  justify-self: start;

  @include breakpoint(until-desktop) {
    align-items: flex-start;
    width: 100%;
  }
}

.footer__disclaimer {
  display: flex;
  grid-area: disclaimer;
  flex-direction: column;
  gap: var(--sp-3);
  align-items: end;

  @include breakpoint(until-portrait) {
    align-items: start;
  }

  .sanity-body {
    color: var(--color-text-secondary);
    text-align: right;

    @include breakpoint(until-portrait) {
      text-align: left;
    }
  }

  .ornament-text {
    margin-block-end: var(--sp-7);
    margin-inline: auto;

    @include breakpoint(portrait) {
      display: none;
    }
  }
}

.footer__disclaimer-images {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp-3);

  .footer__disclaimer-image {
    width: auto;
    height: var(--sp-24);
  }
}
