@use 'scss/breakpoint' as *;

// for specificity
.footer {
  --container-max-width: 1440px;
  --container-padding-y: 40px;
  --footer-gap: 48px;

  position: relative;
  border-top: 2px solid var(--color-accent-gold);
  background-color: var(--color-grey-50);

  .container {
    position: relative;
    display: grid;
    grid-template-areas: 'navigation' 'divider' 'copyright';
    grid-template-columns: minmax(0, 1fr);
    gap: var(--footer-gap);

    @include breakpoint(until-desktop) {
      grid-template-areas: 'navigation' 'divider' 'copyright';
      justify-items: start;
    }

    @include breakpoint(until-mobile) {
      justify-items: start;
    }
  }
}

.footer__copyright {
  display: flex;
  grid-area: copyright;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-self: center;
  font-size: var(--font-size-label-small);
  color: var(--color-grey-700);

  @include breakpoint(until-mobile) {
    align-items: flex-start;
  }
}

.footer__link-home {
  display: inline-flex;
  gap: 12px;
  align-items: baseline;

  &.link {
    text-decoration: none;
  }

  .logo {
    width: 130px;

    @include breakpoint(until-mobile) {
      width: 94px;
    }
  }

  .tagline {
    @include breakpoint(until-mobile) {
      font-size: var(--font-size-body-small);
    }
  }
}

.footer__divider {
  grid-area: divider;
  width: 100%;
  height: 1px;
  background-color: var(--color-grey-200);
}

.footer__navigation {
  display: flex;
  grid-area: navigation;
  flex-direction: column;
  gap: 12px;
  justify-self: start;

  @include breakpoint(until-desktop) {
    align-items: flex-start;
    width: 100%;
  }
}
