@use 'scss/breakpoint' as *;

// for specificity
.footer {
  --container-padding-y: var(--sp-10);

  position: relative;
  border-top: var(--sp-1) solid var(--color-brand-primary);
  background-image: radial-gradient(circle at center, var(--color-grey-100), var(--color-white));

  .container {
    position: relative;
    display: grid;
    grid-template-areas: 'brand navigation' 'divider divider' 'copyright copyright';
    grid-template-columns: minmax(0, auto) minmax(0, 1fr);
    gap: var(--sp-10) var(--sp-14);
    justify-items: start;

    @include breakpoint(until-portrait) {
      grid-template-areas: 'brand' 'navigation' 'divider' 'copyright';
      grid-template-columns: minmax(0, 1fr);
    }
  }

  .ornament-text-2 {
    grid-area: divider;
    justify-self: center;
    width: calc(var(--spacing) * 38);
    color: var(--color-brand-secondary-light);
  }
}

.footer__copyright {
  display: flex;
  grid-area: copyright;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  font-size: var(--font-size-label);
  color: var(--color-brand-secondary-light);

  @include breakpoint(until-mobile) {
    align-items: flex-start;
  }
}

.footer__link-home {
  display: inline-flex;
  gap: var(--sp-3);
  align-items: baseline;

  &.link {
    text-decoration: none;
  }

  .logo {
    height: var(--sp-7);
  }

  .tagline {
    @include breakpoint(until-mobile) {
      font-size: var(--font-size-body-small);
    }
  }
}

.footer__brand {
  display: flex;
  grid-area: brand;
  flex-direction: column;
  gap: var(--sp-6);
  justify-self: start;

  @include breakpoint(until-desktop) {
    align-items: flex-start;
    width: 100%;
  }
}
