@use 'scss/breakpoint' as *;

.homepage {
  --homepage-gap: calc(var(--spacing) * 22);

  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--homepage-gap);
  padding-block: calc(var(--spacing) * 20);
  color: var(--color-text-light);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(var(--spacing) * 136);
    background: linear-gradient(to bottom, var(--color-grey-100), transparent);
  }

  .container {
    position: relative;
  }

  .sanity-body {
    --sanity-body-gap: 32px;
  }
}

.homepage__section {
  position: relative;
  z-index: 1;

  .sanity-body {
    h2,
    h3,
    h4 {
      + h2,
      + h3,
      + h4 {
        margin-top: calc(var(--sanity-body-gap) * -1);
      }
    }
  }
}

.homepage__section--editorial {
  z-index: 0;
  background-color: var(--color-grey-100);

  .sanity-body {
    padding: var(--sp-14);
    border-radius: var(--sp-10);
    background-color: var(--color-white);

    @include breakpoint(until-portrait) {
      padding: var(--sp-10);
    }

    @include breakpoint(portrait) {
      display: block;
      columns: 2;
      column-gap: var(--sp-10);

      > *:not(:first-child) {
        margin-block-start: var(--sp-14);
      }
    }

    p {
      font-size: var(--font-size-h5);
    }
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: calc(var(--spacing) * 100);
    background-image: linear-gradient(to bottom, transparent, var(--color-grey-100));
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(var(--spacing) * 100);
    background-image: linear-gradient(to bottom, var(--color-grey-100), transparent);
  }
}

.homepage__section--two-columns {
  display: grid;
  grid-template-areas: 'left-column right-column';
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: var(--sp-6);

  @include breakpoint(until-portrait) {
    grid-template-areas: 'left-column' 'right-column';
    grid-template-columns: minmax(0, 1fr);
  }

  .sanity-body {
    padding: var(--sp-14);
    border-radius: var(--sp-14);
    background-color: var(--color-grey-100);

    @include breakpoint(until-portrait) {
      padding: var(--sp-10);
    }

    &:first-child {
      grid-area: left-column;
    }

    &:last-child {
      grid-area: right-column;
    }
  }
}

.homepage__section--with-image {
  --homepage-section-image-radius: calc(var(--spacing) * 40.75);

  display: grid;
  gap: var(--sp-16);

  @include breakpoint(until-portrait) {
    grid-template-areas: 'image' 'content';
    grid-template-columns: minmax(0, 1fr);
  }

  @include breakpoint(portrait) {
    &.homepage__section--image-left {
      grid-template-areas: 'image content';
      grid-template-columns: minmax(0, 5fr) minmax(0, 7fr);
    }

    &.homepage__section--image-right {
      grid-template-areas: 'content image';
      grid-template-columns: minmax(0, 7fr) minmax(0, 5fr);
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .sanity-body {
    grid-area: content;
    align-self: center;
  }

  .homepage__section-image {
    position: relative;
    grid-area: image;
    align-self: start;

    img {
      position: relative;
      align-self: start;
      aspect-ratio: 4 / 3;
      width: 100%;
      border-radius: var(--homepage-section-image-radius);
      object-fit: cover;
    }
  }
}

.homepage__section-image-artifact-1 {
  position: absolute;
  z-index: 2;
  top: var(--sp-8);
  left: 0;
  width: calc(var(--spacing) * 22.5);
  height: calc(var(--spacing) * 12.5);
  border: 4px solid var(--color-brand-primary);
  border-radius: var(--homepage-section-image-radius);
}

.homepage__section-image-artifact-2 {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  width: calc(var(--spacing) * 22.5);
  height: calc(var(--spacing) * 12.5);
  border-radius: var(--homepage-section-image-radius);
  background-color: var(--color-brand-tertiary);
}

.homepage__section-image-artifact-3 {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: var(--sp-4);
  width: calc(var(--spacing) * 22.5);
  height: calc(var(--spacing) * 12.5);
  border-radius: var(--homepage-section-image-radius);
  background-color: var(--color-brand-secondary);
}

.homepage__section--last {
  overflow: clip;
  display: flex;
  flex-direction: column;
  gap: var(--sp-4);
  align-items: center;
  margin-block-start: calc(var(--homepage-gap) * -1);
  padding-block-start: var(--homepage-gap);

  /* stylelint-disable-next-line no-descending-specificity */
  .sanity-body {
    --sanity-body-gap: var(--sp-4);

    max-width: calc(var(--spacing) * 220);
    text-align: center;

    h2,
    h3,
    h4 {
      + h2,
      + h3,
      + h4 {
        margin-top: 0;
      }
    }
  }
}

.homepage__section-logo {
  position: relative;

  .logo {
    width: calc(var(--spacing) * 76);
  }

  .ornament-ellipsis {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--spacing) * 98);
    max-width: none;
  }
}
