.form-radio__radio {
  --form-radio-check-size: 18px;

  display: flex;
  gap: 24px;
  align-items: center;

  &.form-radio__radio--vertical {
    flex-direction: column;
    align-items: flex-start;
  }
}

.form-radio__option {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  align-items: center;
  transition: all var(--animation-simple-fade);
}

.form-radio__item {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: var(--form-radio-check-size);
  height: var(--form-radio-check-size);
  margin: 3px;
  border: 1px solid var(--color-grey-600);
  border-radius: 50%;
  background: transparent;
  transition: all var(--animation-simple-fade);

  &[data-state='checked'] {
    border-color: var(--color-black);
  }

  &[data-disabled] {
    opacity: 0.3;
  }
}

.form-radio__indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - (var(--form-radio-check-size) / 2.2));
  height: calc(100% - (var(--form-radio-check-size) / 2.2));
  border-radius: 50%;
  background-color: var(--color-black);
}

.form-radio__label {
  cursor: pointer;
  user-select: none;
  position: relative;
  color: var(--text-color);
  text-align: left;
  transition: all var(--animation-simple-fade);
}
