@use 'scss/alpha' as *;

.combobox__trigger {
  cursor: pointer;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid var(--color-grey-400);
  line-height: normal;
  color: var(--color-grey-600);
  letter-spacing: 0.02em;
  background-color: var(--color-white);
  transition: border-color var(--animation-simple-fade);

  &:hover {
    border-color: var(--color-grey-300);
  }

  &:focus-visible {
    outline: 2px solid var(--color-grey-400);
    outline-offset: 2px;
  }

  &[data-state='open'] {
    border-color: var(--color-grey-400);
  }

  &.combobox__trigger--icon {
    padding-left: 8px;
  }

  &.combobox__trigger--selected {
    color: var(--text-color);
  }
}

.combobox__value {
  display: flex;
  flex: 1;
  gap: 0.5em;
  align-items: center;
  text-align: left;
}

.combobox__icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--text-color);

  .icon {
    width: 24px;
    height: 24px;
  }
}

.combobox__chevron {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  color: var(--text-color);
  transition: transform var(--animation-simple-fade);

  &.combobox__chevron--open {
    transform: rotate(180deg);
  }
}

.combobox__content {
  z-index: var(--z-popover);
  min-width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
  border: 1px solid var(--color-grey-400);
  color: var(--text-color);
  background-color: var(--color-white);
  box-shadow: 0 4px 16px rgb(0 0 0 / 16%);
  animation: fade-in var(--animation-simple-fade);

  &[data-state='closed'] {
    animation: fade-out var(--animation-simple-fade);
  }

  &.combobox__content--in-modal {
    z-index: calc(var(--z-modal) + var(--z-popover));
  }
}

.combobox__list {
  overflow-y: auto;
  max-height: 300px;
}

.combobox__search-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  border-bottom: 1px solid var(--color-grey-400);

  /* the key handlers are bound to the input, we can't simply remove it otherwise accessibility
    will break */
  .combobox__content:not(.combobox__content--search) & {
    position: absolute;
    opacity: 0;
  }

  .icon-search {
    width: 16px;
    height: 16px;
  }
}

.combobox__search-input {
  width: 100%;
  border: 0;
  font-weight: 400;
  line-height: normal;
  color: var(--color-grey-700);
  transition: border-color var(--animation-simple-fade);

  &::placeholder {
    color: var(--color-grey-500);
  }

  &:focus {
    color: var(--color-grey-700);
    outline: none;
  }

  &:hover {
    color: var(--color-grey-700);
  }
}

.combobox__empty-message {
  padding: 12px;
  font-weight: 400;
  line-height: normal;
  color: var(--color-grey-500);
  text-align: center;
}

.combobox__item {
  cursor: pointer;
  user-select: none;
  position: relative;
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 12px 16px;
  font-weight: 500;
  line-height: normal;
  color: var(--color-grey-700);
  outline: none;
  transition: background-color var(--animation-simple-fade);

  &:hover {
    background-color: var(--color-grey-100);
  }

  &:focus {
    background-color: var(--color-grey-100);
  }

  &[data-state='checked'] {
    color: var(--color-grey-800);
    background-color: var(--color-grey-100);
  }

  &[aria-selected='true'] {
    color: var(--color-grey-800);
    background-color: var(--color-grey-100);
  }

  &[data-disabled='true'],
  &.combobox__item--disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &.combobox__item--clear {
    padding-block: 12px;
    border-bottom: 1px solid var(--color-grey-400);
    font-weight: 600;
  }
}

.combobox__item-icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}

.combobox__item-label {
  flex: 1;
}

@keyframes fade-in {
  from {
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.95);
    opacity: 0;
  }
}
