@use 'scss/alpha' as *;
@use 'scss/breakpoint' as *;

.modal {
  --modal-body-gap: 24px;

  position: fixed;
  z-index: var(--z-modal);
  top: 0;
  left: 0;
  overflow: hidden auto;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: alpha(var(--color-black), 70%);
  backdrop-filter: blur(2px);
}

.modal__content {
  --modal-container-max-width: 700px;

  pointer-events: all;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--modal-body-gap);
  justify-content: center;
  width: 100%;
  max-width: min(var(--modal-container-max-width), 95vw);
  margin: 100px auto;
  padding: 24px;
  text-align: center;
  background: var(--color-white);
  filter: drop-shadow(0 4px 24px alpha(var(--color-black), 8%));

  .modal--small & {
    --modal-container-max-width: 450px;
  }

  .modal--large & {
    --modal-container-max-width: 900px;
  }

  .modal--wide & {
    --modal-container-max-width: 1100px;

    @include breakpoint(until-landscape) {
      margin: 50px auto 150px;
    }
  }

  > form {
    display: flex;
    flex-direction: column;
    gap: var(--modal-body-gap);
  }
}
