.pagination-item__link {
  &:hover {
    text-decoration: underline;
  }

  svg {
    width: var(--sp-3);
  }
}

.pagination-item__link--active {
  pointer-events: none;
  cursor: default;
  background-color: var(--color-grey-300);
}

.pagination-item__link--break {
  pointer-events: none;
}
