.pagination-item__link {
  color: var(--color-text-tertiary);

  &:hover {
    text-decoration: underline;
  }

  svg {
    width: var(--sp-3);
  }
}

.pagination-item__link--active {
  pointer-events: none;
  cursor: default;
  color: var(--color-primary);
  background-color: var(--color-brand-primary);
}

.pagination-item__link--break {
  pointer-events: none;
}
