@use 'scss/breakpoint' as *;

.page-list {
  position: relative;
  padding-block: var(--sp-6);

  @include breakpoint(until-tablet) {
    padding-block: var(--sp-4);
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: var(--color-surface);
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: var(--main-gap);
    background-color: var(--color-surface);
  }
}
