@use 'scss/breakpoint' as *;

.header-navigation-menu {
  position: relative;
  grid-area: navigation;

  @include breakpoint(until-landscape) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--color-grey-500);
    background-color: var(--color-background);
  }

  menu {
    display: flex;
    gap: var(--sp-6);
    align-items: center;

    @include breakpoint(until-landscape) {
      flex-direction: column;
      gap: 0;
      align-items: stretch;
      width: 100%;
    }

    li {
      list-style: none;
    }
  }
}

.header-navigation-menu__link {
  position: relative;
  display: block;
  font-weight: var(--font-weight-medium);
  color: var(--color-grey-700);
  text-decoration: none;

  @include breakpoint(until-landscape) {
    padding: var(--sp-4) var(--container-padding-x);
    text-align: center;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -0.25em;
    left: 50%;
    transform: translateX(-50%);
    width: 0.2275em;
    height: 0.2275em;
    border-radius: 50%;
    background-color: transparent;

    @include breakpoint(until-landscape) {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - (var(--container-padding-x) * 2));
      height: 1px;
      border-radius: 0;

      .header-navigation-menu__item:not(:last-child) & {
        background-color: var(--color-grey-300);
      }
    }
  }

  &:hover {
    text-decoration: none;

    &::after {
      background-color: var(--color-grey-700);
    }
  }

  .header-navigation-menu__item--active & {
    color: var(--color-brand-primary);

    &::after {
      background-color: var(--color-brand-primary);
    }
  }
}

.header-navigation-menu__user {
  @include breakpoint(until-landscape) {
    padding: var(--container-padding-y) var(--container-padding-x);

    .button {
      width: 100%;
    }
  }
}
