.divider {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 100%;

  &::before,
  &::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-grey-100);
  }
}
