.form-input__input {
  padding: 16px;
  border: 1px solid var(--color-brand-tertiary);

  &::placeholder {
    color: var(--color-text-secondary);
  }

  .form-input--errored & {
    border-color: var(--color-error);
  }
}

textarea.form-input__input {
  height: 8em;
}
