.social-links {
  display: flex;
  gap: var(--sp-4);
  align-items: center;

  .link {
    --link-color: var(--color-text-light);
  }

  .icon {
    width: var(--sp-6);
    height: var(--sp-6);
  }
}
